  <body>
    <div id="wrapper">
    <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         {{#link-to "index" class="navbar-brand"}}Aesthete{{/link-to}}
       </div>
       <ul class="nav navbar-nav">
         <li>{{#link-to "pieces"}}Pieces{{/link-to}}</li>
         <li>{{#link-to "artists"}}Artists{{/link-to}}</li>
         <li>{{#link-to "exhibitions"}}Exhibitions{{/link-to}}</li>
       </ul>
     </div>
    </nav>
    <div id="content">
      {{outlet}}
    </div>
    <div id="footer">
      <footer class="footer">
        <div class="container">
          <p class="text-muted">Created by Johnny Scheuch and Ethan Steiner.</p>
        </div>
      </footer>
    </div>
  </div>
  </body>
