<div class="container">
  <ul>
    {{#each model as |exhibition|}}
    <li>
      <strong>{{exhibition.location}}</strong>
        {{#each exhibition.pieces as |x|}}
          {{x.title}}
        {{/each}}
      </li>
    {{/each}}
  </ul>
</div>
