<div class="container">
  <ul>
    {{#each model as |exhibition|}}
    <li>
      <strong>{{exhibition.location}}</strong>
        {{#each exhibition.pieces as |exhibition|}}
          {{exhibition.title}}
        {{/each}}
      </li>
    {{/each}}
  </ul>
</div>
{{manage-exhibition
 exhibition=model
 onSubmit="createExhibition"}}
