  <div class="jumbotron bg">
    <div class="bg">
      <div class="container">
        <h1>Welcome to Aesthete</h1>
        <p>A sharing platform for the world's most influential creators and visionaries</p>
        <p><a href="#" class="btn btn-default">Our Story</a></p>
      </div>
    </div>
  </div>
